<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306365813646-jhgg22bfaagqon1s44m9f8vmm0n3j0cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306365813646-jhgg22bfaagqon1s44m9f8vmm0n3j0cq</string>
	<key>API_KEY</key>
	<string>AIzaSyCjbgs2Cb_RjSHCSowMD8jimVSMF9SVe-M</string>
	<key>GCM_SENDER_ID</key>
	<string>306365813646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifymeee</string>
	<key>PROJECT_ID</key>
	<string>notifymeee</string>
	<key>STORAGE_BUCKET</key>
	<string>notifymeee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306365813646:ios:e48c3561add247bdf6cadf</string>
</dict>
</plist>